config APP_CSR_CTL
	bool "APP_CSR_CTL"
config APP_DEVICES
	bool "APP_DEVICES"
config APP_DEVMEM
	bool "APP_DEVMEM"
config APP_DMA_TEST
	bool "APP_DMA_TEST"
config APP_DMA_TEST_EXT
	bool "APP_DMA_TEST_EXT"
config APP_HELLO
	bool "APP_HELLO"
config APP_HISTORY
	bool "APP_HISTORY"
config APP_IMSIC_TEST
	bool "APP_IMSIC_TEST"
	depends on SELECT_AIA
config APP_VS_IMSIC_MULTI_TEST
	bool "APP_VS_IMSIC_MULTI_TEST"
	depends on SELECT_AIA
config APP_LS
	bool "APP_LS"
config APP_MEM_READ
	bool "APP_MEM_READ"
config APP_PAGE_TLB_TEST
	bool "APP_PAGE_TLB_TEST"
	depends on ENABLE_MMU
config APP_PLIC_SET_AFFINITY
	bool "APP_PLIC_SET_AFFINITY"
config APP_SPINLOCK_TEST
	bool "APP_SPINLOCK_TEST"
config APP_TASK_INFO
	bool "APP_TASK_INFO"
config APP_USER_RUN
	bool "APP_USER_RUN"
	depends on USER
config APP_VCPU_RUN
	bool "APP_VCPU_RUN"
	depends on VIRT
config APP_VCPU_RUN_EXT
	bool "APP_VCPU_RUN_EXT"
	depends on VIRT
config APP_VCPU_INFO
	bool "VCPU_INFO"
	depends on VIRT
config APP_STREAM
	bool "APP_STREAM"
config APP_HUGE_PAGE_TEST
	bool "APP_HUGE_PAGE_TEST"
config APP_TINY_TEST
	bool "APP_TINY_TEST"
	depends on TINY
config APP_PLANE
	bool "A Plane Game"
	default n
config APP_GET_PTE_TEST
	bool "Get Pte Test"
	default n
config APP_SVNAPOT_TEST
	bool "APP_SVNAPOT_TEST"
	depends on SVNAPOT
	default n
config MULTICORE_TEST
	bool "Multicore_test"
config APP_FLOAT_TEST
	bool "APP_FLOAT_TEST"
config APP_MEM_WALK
	bool "APP_MEM_WALK"
config APP_STVAL
	bool "APP_STVAL"
config APP_CMD_LOADER
	bool "APP_CMD_LOADER"
	default y
config APP_MEM_TESTER
	bool "APP_MEM_TESTER"
config APP_G_STAGE_TEST
	bool "APP_G_STAGE_TEST"
	default y
