source "app/Kconfig"
source "bsp/Kconfig"
source "drivers/Kconfig"
source "mm/Kconfig"

choice
	prompt "Select A Running Target"

	config SELECT_QEMU
		tristate "Select QEMU"
	config SELECT_FPGA
		tristate "Select NanHu FPGA"
	config SELECT_KMH_FPGA
		tristate "Select KunMingHu FPGA"
	config SELECT_VCS
		tristate "Select VCS"
endchoice

choice
	prompt "Select irqchip"

	config SELECT_AIA
		tristate "Select AIA"
	config SELECT_PLIC
		tristate "Select PLIC"
endchoice

choice
	prompt "Use 4K/2M/1G in direct mapping"
	config SELECT_4K_DIRECT_MAPPING
		tristate "Select 4k mapping"
	config SELECT_2M_DIRECT_MAPPING
		tristate "Select 2m mapping"
	config SELECT_1G_DIRECT_MAPPING
		tristate "Select 1g mapping"
endchoice

choice
	prompt "Use 4K/2M/1G in code mapping"
	config SELECT_4K_CODE_MAPPING
		tristate "Select 4k mapping"
	config SELECT_2M_CODE_MAPPING
		tristate "Select 2m mapping"
	config SELECT_1G_CODE_MAPPING
		tristate "Select 1g mapping"
endchoice

config VIRT
	bool "Virt"
	default y
	if VIRT
		source "virt/Kconfig"
	endif

config USER
	bool "User"
	default y

config MYGUEST
	bool "Guest OS bin"
	default y

config MYUSER
	bool "User process bin"
	default y

config ENABLE_MMU
	bool "Enable MMU"
	default y

config SVNAPOT
	bool "Enable svnapot"
	depends on ENABLE_MMU
	depends on SELECT_SV39

config ENABLE_MULTI_TASK
	bool "Enable Multi task"
	default y

config TASK_SCHEDULER_PERIOD
	int "Task scheduler period(ms)"
	default "100"
	depends on ENABLE_MULTI_TASK

config ENABLE_SHELL
	bool "Enable Shell"
	default y
